<!DOCTYPE html>
  <html>
    <head>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/materialize.min.css')}}"  media="screen,projection"/>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <script type="text/javascript">/*<![CDATA[*/
(function(u, t, c, s, r) { !t[c] && (t[c] = { projectId: '56aaa6820c4ba97161467295'}) && (r = u.createElement(s)) && (r.src = 'https://mobile.usabilitytools.com/recorder/tracker/tracker.js') && (u.head.appendChild(r)); })(document, window, 'UsabilityTools Session Recording', 'script');
/*]]>*/</script>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Insert title here</title>
      </head>
    <body>
    {% block content %}
    {% endblock %}
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
    </body>
  </html>
